*{
  margin:0;
}
#title {
  margin-top: 0;
  font-size: 48px;
  text-align: center;
}

#subtitle {
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
  color: rgba(33, 33, 33, 0.818);
}

#logo {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#log{
  font-size: 24px;
  margin-bottom: 20px;
  color: rgba(33, 33, 33, 0.818);
  text-align: center;
}

#mail, #pass{
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login, #sign{
  background-color: #2D5FFF;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  width: 300px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}


.login-container {
padding: 10px;
text-align: center;
margin: 30px;
}

.signup-container {
  padding: 10px;
  text-align: center;
  margin: 30px;
}

.signup-text {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.log-text {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

#log-link, #sign-link {
  color: #2D5FFF;
  text-decoration: none;
  font-weight: bold;
}


.navbar {
    background-color: #092138;      
    padding: 5px 20px ;
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 6px;   /* reduces space between logo & NewsReader */
}

.logo {
  display:flex;
}

.logo-heading {
    font-weight: bold;
    font-size: 36px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 3.5px;
}

.logo-img {
  width: 45px;
  height: 45px;
  margin-top: 1px; 
  border-radius: 8px; 
}

 .icons span {          /*write span here to make specific and because of gap b/w both */ 
    margin-left: 30px;
    font-size: 30px;
    cursor: pointer;
}


.search-container {
    padding: 15px;
    background: #092138;
}


.search-box {
    width: 100%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.08);
    padding: 10px 20px;
    border-radius: 40px;   
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.204);
    margin: auto;
}

.search-icon {
    font-size: 20px;
    margin-right: 10px;  /* gap between icon and text*/
}

.search-box input {
    background: transparent; /* in place of white it transparent*/
    border: none;
    outline: none;  /*when we search it remove the border or lines */
    width: 100%;     /* when we search it text go at end point */
    font-size: 16px;
    color: #d0d0d0;
}

.search-box input::placeholder {  /* search news.. text color*/
    color: #d0d0d0;
    padding-left: 15px;
}

.tabs {
    display: flex; /* put the item in same row*/
    gap: 15px;
    padding: 15px 20px;
}

.tab {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background-color: #e4e7eb;
    font-size: 14px;
}


.card-container {
    gap: 20px;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}

.card {
    background-color: white;
    width: 700px;
    height: 250px;
    border-radius: 12px;
    padding-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  
}
.icons {
  margin-top:5px;
}

#bookmark {
  margin-right: 40px;
}


#user {
  margin-right: 10px;
}



@media ( 440 <=width<= 768px) {

  .navbar {
    flex-wrap: wrap;
    text-align: center;
  }
}



